.box{
   width: 400px;
 
   margin-left: 500px;
   margin-top: 100px;
   padding:10px;
   border-radius:5px;
   box-shadow:1px 1px 4px;
}
button{
    
    background-color: blueviolet;
}

.incr{
   float:left;
    background-color: red;
}
.decr{
    float:right;
    background-color: blueviolet;
}
.reset{
  
    margin:20px 150px;
    background-color:yellowgreen;
}
.delete{
    float:right;
    
    background-color: blueviolet;
}
.toggle{
    padding: 5px 10px;
    background-color: red;
    margin-left: 150px;
 
}
h3,h1{
    margin-top: 20px;
    text-align: center;
}
li{
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 5px;
}
ul{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

li.complete{
    box-shadow: rgba(62, 150, 0) 0px 1px 4px;   
}

li.incomplete{
    box-shadow: rgba(135, 20, 0, 0.438) 0px 1px 4px;
  }
  .box-alert p.title{
    color: red;
    font-size: 20px;
  }
  .box-alert p.description{
    color: black;
    font-size: 15px;
  }
  .Hidden{
    display: none;
  }
  .hide{
    margin:10px 650px;
    
  }
  .box-alert{
    width: 400px;
  
    margin-left: 500px;
    margin-top: 100px;
    padding:10px;
    border-radius:5px;
    box-shadow:1px 1px 4px;
    background-color: aqua;
 }
 .box.success{
    background-color: #baffbf;
  }
 .footer{
  text-align: center;
 }